           .weatherApp {
               max-width: 650px;
               padding: 40px;
               margin: 30px auto;
               border-left: 2px dotted #4dd0e1;
               border-right: 2px dotted #4dd0e1;
               border-radius: 0;
           }
           
           #search-engine {
               margin: 0 auto;
               display: block;
               font-weight: bold;
           }
           
           #search-input {
               border-top: 0px;
               border-left: 0;
               border-right: 0;
               border-bottom: 1px solid #4dd0e1;
               border-radius: 0;
           }
           
           #searchButton {
               border: none;
               background: none;
               margin-right: 2px;
               padding: 1px
           }
           
           #AtualLocationButton {
               border: none;
               background: none;
           }
           
           li {
               list-style: none;
               font-family: 'Montserrat', sans-serif;
               font-weight: bold;
               line-height: 3;
           }
           
           #temp-now-max,
           #temp-now-min {
               font-size: 30px;
           }
           
           .active-cyan-2 input.form-control[type=text]:focus:not([readonly]) {
               border-bottom: 1px solid #4dd0e1;
               box-shadow: 0 1px 0 0 #4dd0e1;
           }
           
           .active-cyan input.form-control[type=text] {
               border-bottom: 1px solid #4dd0e1;
               box-shadow: 0 1px 0 0 #4dd0e1;
           }
           
           .active-cyan .fa,
           .active-cyan-2 .fa {
               color: #4dd0e1;
           }
           
           #tempNow {
               text-align: center;
               font-family: 'Montserrat', sans-serif;
               font-weight: bold;
               font-size: 25px;
           }
           
           #celsius,
           #fahrenheit {
               padding: 15px;
           }
           
           #whole-forecast {
               text-align: center;
           }
           
           #monday {
               color: #4dd0e1;
               font-family: 'Montserrat', sans-serif;
               font-weight: bold;
           }
           
           .Tempe,
           .image {
               margin: 16px 0;
           }
           /* #link-git {
               max-width: 600px;
               text-align: center;
           } */